/* ### Página de Login ### */

/*Início Div de Login*/

#divLogin{
    margin-top: 75px;
    margin-left: 500px;
    background-color: rgba(38, 38, 38, 0.5);
    padding: 2%;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    display: none;

}

#divLogin h1{
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

#divLogin h3{
    font-weight: bold;
    text-align: center;
}

#divLogin button{
    background-color: crimson;
    border-color: crimson;
}

#divLogin button:hover{
    opacity: 0.8;
}

#botaoLogin{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    width: 50%;
    text-transform: uppercase;
    margin-left: 25%;
}

#divLogin a{
    color: #068DD6;
}

#divLogin a:hover{
    color: #068DD6;
    text-decoration: none;
    cursor: pointer;
}

.labelForm{
    font-size: 16px;
}

#checkboxLogin {
    margin-left: 40%;
}

#divCheck{
    margin-bottom: 0;
}

#esqueceuSenha {
    margin-left: 46%;
}

/*Fim da Div de Login*/

/* Início Video de Login */

#videoLogin {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
}

/* Fim Video de Login */

/* ------------------------------------------------------------------------------------------ */

/* ### Página Index ### */

/* Início da Div da Index*/

#divIndex{
    margin-top: 150px;
    margin-left: 400px;
    padding: 2%;
    color: white;
    display: none;
    text-align: center;
}

#divIndex a{
    background-color: crimson;
    border-color: crimson;
}

#divIndex a:hover{
    opacity: 0.8;
}

#botaoIndex{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    width: 110%;
    text-transform: uppercase;
    margin-top: 50px;
    margin-left: 35px;
}

#divIndex h1{
    font-weight: bold;
    font-size: 70px;
}

#divIndex h3{
    font-weight: bold;
    text-transform: uppercase;
}

/* Fim da Div da Index*/

/* Início Video de Index */

#videoIndex {
    position: fixed;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
}

/* Início Video de Index */

/* ------------------------------------------------------------------------------------------ */

/* ### Página Cadastro de Usuário ### */

/*Início Div de Cadastro*/

#divCadastro{
    margin-top: 40px;
    margin-left: 320px;
    background-color: rgba(38, 38, 38, 0.5);
    padding: 2%;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    display: none;
}

#divCadastro h1{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

#divCadastro button{
    background-color: crimson;
    border-color: crimson;
}

#divCadastro button:hover{
    opacity: 0.8;
}

#botaoLogin{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    width: 40%;
    text-transform: uppercase;
    margin-left: 30%;
}

#divCadastro legend{
    color: white;
    font-size: 16px;
    font-weight: bold;
}

#hrCadastro {
    margin-top: 0;
}

#senhaHelp {
    font-weight: bolder;
    color: white;
    display: none;
}

#spanSenhaHelp {
    font-weight: bolder;
}

#confirmSenhaHelp {
    font-weight: bolder;
    color: crimson;
    display: none;
}

#spanSenhaHelp2 {
    font-weight: bolder;
    color: crimson;
}

#spanConfirmSenha {
    font-weight: bolder;
    color: white;
}

#barraForca {
    width: 42%;
    height: 10px;
    margin-bottom: 0;
    margin-left: 58%;
    margin-top: -4%;
    display: none;
}

#barra {
    width: 0%;
}

/*Início Div de Cadastro*/