/* ### Template da Página Inicial ### */

/* Início do Cabeçalho Principal */

#cabecalho {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #3A3A3A;
    padding: 0.5%;
    position: fixed;
    margin-top: 0;
    width: 100%;
    border: none;
    z-index: 2;
}

#logoProjectK {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#formPesquisar {
    margin-left: 20%;
    font-weight: bold;
}

#divInputPesquisar {
    width: 180%;
}

#BotaoPesquisar {
    background-color: crimson;
    border-color: crimson;
}

#BotaoPesquisar:hover {
    opacity: 0.9;
}

#BotaoPesquisar i{
    font-size: 16px;
}

#divUsuarioCabecalho {
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 1%;
    width: 18%;
}

#divFotoMenuUsuario {
    margin-top: -3%;
    margin-right: 5%;
}

#divFotoMenuUsuario img{
    width: 36px;
    height: 36px;
}

#divFotoMenuUsuario img:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Inicío do Menu DropDown de Pesquisa por Usuário */

#ulDropDownPesquisa {
    margin-left: 31.7%;
    margin-top: 3.2%;
    width: 29.6%;
    padding: 1%;
    background-color: #EEEEEE;
}

#DivMediaDropdownUser {
    margin-bottom: 2%;
}

#divMediaUser {
    border: solid;
    border-radius: 10px;
    border-color: #E5E5E5;
    border-width: 1px;
    background-color: white;
}

#divMediaUser div img {
    width: 70px;
    height: 70px;
}

#divMediaUserDados {
    margin-top: 6%;
}

#divMediaUserDados h5 {
    font-weight: bold;
}

#divMediaUserVerTodos {
    font-weight: bold;
    color: #068DD6;
    text-align: center;
}

#divMediaUserVerTodos:hover {
    color: #068DD6;
    text-decoration: underline;
    background-color: #EEEEEE;
}

#DivMediaUserP {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

/* Fim do Menu DropDown de Pesquisa por Usuário */

/* Fim do Cabeçalho Principal */

/* Início do Menu Horizontal de Opções*/

#MenuHorizontal {
    background-color: crimson;
    border-radius: 0;
    position: fixed;
    margin-top: 4.7%;
    width: 100%;
    border: none;
    z-index: 1;
}

#ulMenuHorizontal {
    width: 50%;
    margin-left: 25%;
}

#ulMenuHorizontal li {
    margin-left: 5%;
}

#ulMenuHorizontal li a {
    color: white;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 16px;
}

#ulMenuHorizontal li a:hover {
    color: #E5E5E5;
}

/* Fim do Menu Horizontal de Opções*/

/* Início do Menu Lateral Esquerdo - Opções do Usuário */

#divMenuLateralEsquerdo {
    position: fixed;
    margin-top: 10%;
}

#divMenuLateralUsuario {
    margin-bottom: 10%;
}

#divMenuLateralUsuario a{
     color: #068DD6;
     font-weight: bold;
 }

#divMenuLateralUsuario a:hover{
    cursor: pointer;
    opacity: 0.9;
    color: #068DD6;
}

#imgFotoPerfilUsuario {
    width: 140px;
    height: 140px;
    border: crimson solid 4px;
}

#BotaoMenuLateral {
    background-color: crimson;
    border-color: crimson;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
}

#BotaoMenuLateral:hover {
    opacity: 0.8;
}

/* Fim do Menu Lateral Esquerdo - Opções do Usuário */

/* Início do Menu Lateral Direito - Menu de Amigos */

#divMenuLateralDireito {
    position:fixed;
    margin-left: 84%;
    margin-top: 10%;
}

#tableAmigos {
    margin-bottom: 0;
}

#tableAmigos tr td img {
    width: 50px;
    height: 50px;
}

#aVerTodos {
    color: #068DD6;
    text-decoration: none;
    cursor: pointer;
}

#aVerTodos:hover {
    opacity: 0.9;
}

/* Início do Menu Lateral Direito - Menu de Amigos */

/* Início da Div Central - Mural de Notícias */

#divMural {
    margin-left: 17%;
    margin-top: 10%;
}

/* Fim da Div Central - Mural de Notícias */

/* Início do Rodapé */

#divRodape {
    background-color: #3A3A3A;
    font-weight: bold;
    color: #E5E5E5;
    padding-top: 0.5%;
    position: relative;
    margin-top: 2%;
}

#divRodape p{
    margin-bottom: 0.2%;
}

#divRodape a{
    color: #068DD6;
    text-decoration: none;
    cursor: pointer;
}

#divRodape a:hover {
    opacity: 0.9;
}

#pDevs {
    font-variant: small-caps;
    font-size: 12px;
}

/* Fim do Rodapé */

/* ------------------------------------------------------------------------ */

/* ### CSS da Página de Contato ### */

/*Início Div de Contato*/

#divContato{
    background-color: #4c4c4c;
    padding: 2%;
    color: white;
    border-radius: 20px;
    margin-left: 8%;
}

#divContato h1{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-right: 1%;
}

#divContato h4{
    font-weight: bold;
    text-align: center;
}

#divContato button{
    background-color: crimson;
    border-color: crimson;
}

#divContato button:hover{
    opacity: 0.8;
}

#botaoContato{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    width: 30%;
    text-transform: uppercase;
    margin-left: 35%;
}

#contMensagem {
    color: white;
    font-weight: bold;
    margin-left: 72%;
}

/*Fim Div de Contato*/

/* Início da Mensagem da Página de Contato */

#mensagemContato {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#spanMensagemContato {
    font-weight: bolder;
    color: crimson;
}

/* Fim da Mensagem da Página de Contato */

/* ------------------------------------------------------------------------------------------ */

/* ### Página de Alterar Senha ### */

#divAlterarSenha {

    background-color: rgba(38, 38, 38, 0.5);
    padding: 2%;
    color: white;
    border-radius: 20px;
    font-weight: bold;
}

input[type='password']{
    color:black;
}

#divAlterarSenha h4{
    font-weight: bold;
    text-align: center;
}

#divAlterarSenha button{
    background-color: crimson;
    border-color: crimson;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    width: 20%;
    text-transform: uppercase;
    margin-left: 25%;
}

/* Fim da Div alterar Senha */

/* ------------------------------------------------------------------------------------------ */