/* ### Template da Página Inicial ### */

/* Início do Cabeçalho Principal */

#cabecalho {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #3A3A3A;
    padding: 0.5%;
    position: fixed;
    margin-top: 0;
    width: 100%;
    border: none;
    z-index: 2;
}

#logoProjectK {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#formPesquisar {
    margin-left: 20%;
    font-weight: bold;
}

#divInputPesquisar {
    width: 180%;
}

#BotaoPesquisar {
    background-color: crimson;
    border-color: crimson;
}

#BotaoPesquisar:hover {
    opacity: 0.9;
}

#BotaoPesquisar i{
    font-size: 16px;
}

#divUsuarioCabecalho {
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 1%;
    width: 37%;
}

#divBemVindoUsuario {
    margin-right: 0;
    margin-left: 12%;
    text-align: right;
    padding-left: 0;
}

#divFotoMenuUsuario {
    margin-top: -1.5%;
    margin-right: 3%;
}

#divFotoMenuUsuario img{
    width: 36px;
    height: 36px;
}

#divFotoMenuUsuario img:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Inicío do Menu DropDown de Pesquisa por Usuário */

#ulDropDownPesquisa {
    margin-left: 31.7%;
    margin-top: 3.2%;
    width: 29.6%;
    padding: 1%;
    background-color: #EEEEEE;
}

#DivMediaDropdownUser {
    margin-bottom: 2%;
}

#divMediaUser {
    border: solid;
    border-radius: 10px;
    border-color: #E5E5E5;
    border-width: 1px;
    background-color: white;
}

#divMediaUser div img {
    width: 70px;
    height: 70px;
}

#divMediaUserDados {
    margin-top: 6%;
}

#divMediaUserDados h5 {
    font-weight: bold;
}

#divMediaUserVerTodos {
    font-weight: bold;
    color: #068DD6;
    text-align: center;
}

#divMediaUserVerTodos:hover {
    color: #068DD6;
    text-decoration: underline;
    background-color: #EEEEEE;
}

#DivMediaUserP {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

/* Fim do Menu DropDown de Pesquisa por Usuário */

/* Fim do Cabeçalho Principal */

/* Início do Menu Horizontal de Opções*/

#MenuHorizontal {
    background-color: crimson;
    border-radius: 0;
    position: fixed;
    margin-top: 4.7%;
    width: 100%;
    border: none;
    z-index: 1;
}

#ulMenuHorizontal {
    width: 50%;
    margin-left: 25%;
}

#ulMenuHorizontal li {
    margin-left: 5%;
}

#ulMenuHorizontal li a {
    color: white;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 16px;
}

#ulMenuHorizontal li a:hover {
    color: #E5E5E5;
}

#ulMenuHorizontal li a:focus {
     background-color: rgba(38, 38, 38, 0.5);
 }

/* Início das Notificações */

#badgeNotificacao {
    background-color: #3A3A3A;
    color: white;
    font-weight: bold;
    margin-top: -10%;
}

#ulDropDownNotificacoes {
    display: none;
    margin-left: 25%;
    margin-top: 0%;
    width: 35%;
    height: 270px;
    background-color: #EEEEEE;
    overflow: auto;
}

/*Início da Personalização da Barra de Rolagem*/

#ulDropDownNotificacoes::-webkit-scrollbar{
    width: 8px;
}

#ulDropDownNotificacoes::-webkit-scrollbar-thumb {
    background: #888;
}

#ulDropDownNotificacoes::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#ulDropDownNotificacoes::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*Fim da Personalização da Barra de Rolagem*/

#h3Solicitacoes {
    font-variant: small-caps;
}

#hrSolicitacoes {
    height: 3px;
    background-color: #068DD6;
    margin-top: 0;
    margin-left: 0;
    width: 94%;
}

#DivMediaDropdownSolicitacao {
    margin-bottom: 2%;
    margin-left: -3%;
}

#divMediaSolicitacao {
    border: solid;
    border-radius: 10px;
    border-color: #E5E5E5;
    border-width: 1px;
    background-color: white;
}

#divMediaSolicitacao div img {
    width: 80px;
    height: 80px;
}

#divMediaSolicitacaoDados {
    margin-top: 6%;
}

#divMediaSolicitacaoDados h5 {
    font-weight: bold;
}

#DivMediaSolicitacaoP {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

#divMediaSolicitacaoButton button{
    margin-top: 3%;
    font-weight: bold;
    width: 90%;
    background-color: #3A3A3A;
    border-color: #3A3A3A;
}

#divMediaSolicitacaoButton button .glyphicon-ok {
    color: #37C967;
}

#divMediaSolicitacaoButton button .glyphicon-remove {
    color: red;
}

#divMediaSolicitacaoButtonCancelar button{
    margin-top: 22%;
    font-weight: bold;
    width: 92%;
    background-color: #3A3A3A;
    border-color: #3A3A3A;
}

#divMediaSolicitacaoButtonCancelar button .glyphicon-remove {
    color: red;
}

#smallDataSolicitacao {
    font-weight: bold;
    margin-left: 65%;
}

/* Fim das Notificações */

/* Fim do Menu Horizontal de Opções*/

/* Início do Menu Lateral Esquerdo - Opções do Usuário */

#divMenuLateralEsquerdo {
    position: fixed;
    margin-top: 10%;
}

#divMenuLateralUsuario {
    margin-bottom: 10%;
}

#divMenuLateralUsuario a{
     color: #068DD6;
     font-weight: bold;
 }

#divMenuLateralUsuario a:hover{
    cursor: pointer;
    opacity: 0.9;
    color: #068DD6;
}

#imgFotoPerfilUsuario {
    width: 140px;
    height: 140px;
    border: crimson solid 4px;
}

#BotaoMenuLateral {
    background-color: crimson;
    border-color: crimson;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
}

#BotaoMenuLateral:hover {
    opacity: 0.8;
}

/* Fim do Menu Lateral Esquerdo - Opções do Usuário */

/* Início do Menu Lateral Direito - Menu de Amigos */

#divMenuLateralDireito {
    position:fixed;
    margin-left: 84%;
    margin-top: 10%;
}

#tableAmigos {
    margin-bottom: 0;
}

#tableAmigos tr td img {
    width: 50px;
    height: 50px;
}

#aVerTodos {
    color: #068DD6;
    text-decoration: none;
    cursor: pointer;
}

#aVerTodos:hover {
    opacity: 0.9;
}

/* Início do Menu Lateral Direito - Menu de Amigos */

/* Início da Div Central - Mural de Notícias */

#divMural {
    margin-left: 17%;
    margin-top: 10%;
    min-height: 500px;
}

/* Fim da Div Central - Mural de Notícias */

/* Início do Rodapé */

#divRodape {
    background-color: #3A3A3A;
    font-weight: bold;
    color: #E5E5E5;
    padding-top: 0.5%;
    position: relative;
    margin-top: 2%;
}

#divRodape p{
    margin-bottom: 0.2%;
}

#divRodape a{
    color: #068DD6;
    text-decoration: none;
    cursor: pointer;
}

#divRodape a:hover {
    opacity: 0.9;
}

#pDevs {
    font-variant: small-caps;
    font-size: 12px;
}

/* Fim do Rodapé */

/* ------------------------------------------------------------------------ */

/* ### CSS da Página de Contato ### */

/*Início Div de Contato*/

#divContato{
    background-color: #4c4c4c;
    padding: 2%;
    color: white;
    border-radius: 20px;
    margin-left: 8%;
}

#divContato h1{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-right: 1%;
}

#divContato h4{
    font-weight: bold;
    text-align: center;
}

#divContato button{
    background-color: crimson;
    border-color: crimson;
}

#divContato button:hover{
    opacity: 0.8;
}

#botaoContato{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    width: 30%;
    text-transform: uppercase;
    margin-left: 35%;
}

#contMensagem {
    color: white;
    font-weight: bold;
    margin-left: 72%;
}

/*Fim Div de Contato*/

/* Início da Mensagem da Página de Contato */

#mensagemContato {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#spanMensagemContato {
    font-weight: bolder;
    color: crimson;
}

/* Fim da Mensagem da Página de Contato */

/* ------------------------------------------------------------------------------------------ */

/* ### Página de Configurações ### */

#divConfiguracoes ul{
    list-style: none;
}

#divConfiguracoes ul li{
    margin-bottom: 1.5%;
}

#divConfiguracoes ul li a{
    font-weight: bold;
    font-size: 16px;
    color: #068DD6;
    text-decoration: none;
    cursor: pointer;
}

#divConfiguracoes ul li a:hover {
    opacity: 0.8;
}

/* ------------------------------------------------------------------------------------------ */

/* ### Página de Modificar o E-mail ### */

/*Início Div de Contato*/

#divEmail{
    background-color: #4c4c4c;
    padding: 3%;
    color: white;
    border-radius: 20px;
    margin-left: 9%;
}

#divEmail h2{
    font-weight: bold;
    text-align: center;
    font-size: 26px;
    margin-right: 1%;
}

#divEmail h2 i {
    font-size: 20px;
}

#divEmail h4{
    font-weight: bold;
    text-align: center;
}

#divEmail button{
    background-color: crimson;
    border-color: crimson;
    font-weight: bold;
    width: 30%;
    font-size: 18px;
    margin-left: 35%;
}

#divEmail button:hover{
    opacity: 0.8;
}

/* ------------------------------------------------------------------------------------------ */

/* ### Página de Dados Cadastrais ### */

#divDadosCadastrais {
    font-size: 16px;
}

#divDadosCadastrais span {
    font-weight: bold;
}

#divDadosCadastrais p {
    margin-left: 6%;
}

#smallDadosCadastraisEditar {
    margin-left: 88%;
}

#smallDadosCadastraisEditar a {
    font-weight: bold;
    color: #068DD6;
    font-size: 12px;
}

#smallDadosCadastraisEditar a:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* ------------------------------------------------------------------------------------------ */

/* ### Página de Alterar Senha ### */

#divAlterarSenha {

    background-color: rgba(38, 38, 38, 0.5);
    padding: 2%;
    color: white;
    border-radius: 20px;
    font-weight: bold;
}

#divAlterarSenha input[type='password']{
    color: #4c4c4c;
}

#divAlterarSenha h4{
    font-weight: bold;
    text-align: center;
}

#divAlterarSenha button{
    background-color: crimson;
    border-color: crimson;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    width: 20%;
    text-transform: uppercase;
    margin-left: 25%;
}

#senhaHelp {
    font-weight: bolder;
    color: white;
    display: none;
}

#spanSenhaHelp {
    font-weight: bolder;
}

#confirmSenhaHelp {
    font-weight: bolder;
    color: crimson;
    display: none;
}

#spanSenhaHelp2 {
    font-weight: bolder;
    color: crimson;
}

#spanConfirmSenha {
    font-weight: bolder;
    color: white;
}

#barraForca {
    width: 42%;
    height: 10px;
    margin-bottom: 0;
    margin-left: 58%;
    margin-top: -4%;
    display: none;
}

#barra {
    width: 0%;
}


/* Fim da Div alterar Senha */

/* ------------------------------------------------------------------------------------------ */

/* ### Página de Perfil de Usuário ### */

/* Início da Div de Perfil de Usuário */

#divPaginaPerfil {
    padding: 2%;
}

#cabecalhoPerfilUsuário {
    background-color: #E5E5E5;
    padding: 2%;
    border-radius: 20px;
}

#divDadosUsuario {
    margin-top: 2.8%
}

#divDadosUsuario h4 {
    font-weight: bold;
    margin-left: 8%;
}

#divDadosUsuario h5 {
    margin-left: 8%;
}

#imgFotoPerfilPerfilUsuario {
    width: 140px;
    height: 140px;
    border: #37C967 solid 4px;
    margin-left: 22.5%;
    cursor: pointer;
}

#aAlterarFotoPerfil {
    margin-left: 30%;
    font-weight: bold;
    color: #068DD6;
}

#aAlterarFotoPerfil:hover {
    cursor: pointer;
}

#botaoMensagem {
    margin-left: 50%;
    margin-top: 25%;
    font-weight: bold;
    background-color: #068DD6;
    border-color: #068DD6;
}

#botaoMensagem:hover {
    opacity: 0.8%;
}

#botaoAdicionarPerfil {
    margin-left: 50%;
    margin-top: 5%;
    font-weight: bold;
    width: 46.5%;
    background-color: #37C967;
    border-color: #37C967;
}

#botaoAdicionarPerfil:hover {
    opacity: 0.8%;
}

#botaoDesfazerAmizade {
    margin-left: 32%;
    margin-top: 5%;
    font-weight: bold;
    width: 65%;
    background-color: crimson;
    border-color: crimson;
}

#botaoDesfazerAmizade:hover {
    opacity: 0.8%;
}

#botaoAceitarSolicitacao {
    margin-left: 50%;
    margin-top: 5%;
    font-weight: bold;
    width: 46.5%;
    background-color: #3A3A3A;
    border-color: #3A3A3A;
}

#botaoAceitarSolicitacao i {
    color: #37C967;
}

#botaoAceitarSolicitacao:hover {
    opacity: 0.8%;
}

#botaoRecusarSolicitacao {
    margin-top: -23%;
    font-weight: bold;
    width: 46.5%;
    background-color: #3A3A3A;
    border-color: #3A3A3A;
}

#botaoRecusarSolicitacao i {
    color: red;
}

#botaoRecusarSolicitacao:hover {
    opacity: 0.8%;
}

#botaoCancelarSolicitacao {
    margin-left: 25%;
    margin-top: 5%;
    font-weight: bold;
    width: 72%;
    background-color: #3A3A3A;
    border-color: #3A3A3A;
}

#botaoCancelarSolicitacao i{
    color: red;
}

#botaoCancelarSolicitacao:hover {
    opacity: 0.8%;
}

#aEditarPerfilPerfil {
    margin-left: 85.5%;
    font-weight: bold;
    font-size: 12px;
    color: #068DD6;
}

#aEditarPerfilPerfil:hover {
    cursor: pointer;
}

#hrPaginaPerfil {
    height: 8px;
    background-color: #3A3A3A;
}

/* Início do Modal da Foto de Perfil*/

#modalFotoPerfilUsuario {
    background-color: rgba(0,0,0,0.9);
}

#modalBodyFotoPerfilUsuario {
    z-index: -1;
}

#botaoFecharModalFotoPerfil {
    color: white;
    opacity: 1;
    font-size: 40px;
    margin-left: 10%;
}

#botaoFecharModalFotoPerfil:hover {
    opacity: 0.7;
}

#modalBodyFotoPerfilUsuario img {
    width: 540px;
    height: 500px;
}

#captionModalFotoPerfil {
    background-color: rgba(0,0,0,0.9);
    height: 30px;
    width: 540px;
    text-align: center;
    margin-top: -7.5%;
    margin-left: 2.5%;
    font-weight: bold;
    color: #D2E0E6;
    font-variant: small-caps;
    cursor: default;
}

#captionModalFotoPerfil p {
    line-height: 30px;
}

/* Fim do Modal da Foto de Perfil*/

#divAmigosPerfil {
    margin-left: 10%;
}

#tableAmigosPerfil {
    margin-bottom: 0;
}

#tableAmigosPerfil tr td img {
    width: 50px;
    height: 50px;
}

#tableAmigosPerfil thead tr th {
    font-weight: bold;
    font-size: 16px;
    font-variant: small-caps;
}
/* Fim da Div de Perfil de Usuário */

/* ------------------------------------------------------------------------------------------ */

/* ### Página de Busca de Usuário ### */

/*Paginação*/
#UlPaginacao li a{
    background-color: #3EC374;
    color: white;
    font-weight: bold;
}

#UlPaginacao li a:hover{
    opacity: 0.7;
}

#Paginacao{
    text-align: center;
}

.esconder{
    visibility: hidden;
}

.mostrar{
    visibility: visible;
}
/*Fim da Paginação*/

/* -------------------------------------------------------------------------------------------- */

/* ### Página de Ver todos Amigos ### */
#verAmigos h1{
    margin-left: 4%;
}

#verAmigos h5{
    font-size: 16px;
    font-weight: bold;
}

#verAmigos{
    margin-left: 1%;
    margin-top: 1%;
    width:100%;
}

#divAmigo {
    padding: 2%;
    margin-left: 2%;
    margin-bottom: 1%;
    width: 46%;
    border-radius: 5%;
    border: 1px solid #E5E5E5;
    height: 80px;
}

#verAmigos img {
    width: 80px;
    height: 80px;
}

#btnMensagem{
    width: 46%;
    background-color: #37C967;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-color: #37C967;
    margin-left: 10%;
}

#btnExcluir{
    width: 40%;
    background-color: #37C967;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-color: #37C967;
    margin-left: 2%;
}

#verAmigos input[type='text']{
    margin-left: 64%;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #999999;
}

#fotoAmigo{
    margin-left:0%;
}

/* Fim da Página de ver todos Amigos */